body {
  background-image: url("../img/background.jpg");
  font-family: serif;
  font-size: 18px;
}
.jumbotron {
  background-color:#bc97d8;
  color: #310e56;
  border: 16px solid #09635f;
  border-style: double;
  margin-top: 10px;
}
.navbar {
  background-color: #bc97d8;
  border: 4px solid #09635f;
}
.nav a {
  color: #310e56;
}
a:hover {
  color: #a4d9db;
}
.about img {
  height: 150px;
}
.me {
  float: left;
  margin-right: 10px;
}
.me p {
  text-align: center;
}
.panel-heading {
  background-color: #bc97d8;
  border-bottom: 4px solid #09635f;
}
.panel {
  background-color: #d3b7e8;
  color: #310e56;
  border: 4px solid #09635f;
  margin-top: 10px;
}
.projects a:first-child {
  text-decoration: underline;
  color: #310e56;
}
.projects a:last-child {
  text-decoration: none;
  color: #310e56;
}
.projects a:hover {
  background-color: #fff;
  color: #a4d9db;
}
h1, h2, h3 {
  text-align: center;
}
.panel h3 {
  font-size: 22px;
}
span {
  font-style: italic;
  font-weight: bold;
}
.background p {
  margin: 10px;
}
.projects ul {
  margin-left: 10px;
}
.hobbies img {
  height: 150px;
}
div.gratch {
  float: right;
  margin: 10px;
}
.gratch p {
  text-align: center;
}
