body {
  background-color: #310e56;
  color: #716182;
}
.head img{
  height: 100px;
}
.panel-heading{
  background-color: #4ba09c;
}
.panel {
  background-color: #53ada9;
  color: black;
  border: 2px solid #09635f;
}
a{
  color: #310e56;
}
